
@media screen and (max-width: 768px) {
    body {
     padding: 0;
     margin: 10px;
     overflow-x: hidden; /* Запобігає горизонтальній прокрутці */
    }

    .login{
        width: 80vw;
        margin-left: 5vw;
        
    }
    .login button{
        max-width: 50vw;
        min-width: 20vw;
        margin-left: 35vw;
    }
    .login #reg_form input{
        max-width: 80vw;
        height: 24px;
        border-radius: 12px;
        background-color: #C9FF33;
        border-color: #333;
        color: #000;
    }
 
    .menu {
     display: flex;
     flex-direction: column; /* Розташовує елементи вертикально */
     justify-content: center; /* Центрує елементи меню по горизонталі */
     align-items: center; /* Центрує елементи меню по вертикалі */
     gap: 20px; /* Відстань між елементами меню */
     width: 100%; /* Займає всю доступну ширину */
   }
 
   .menu-el {
     width: 100%; /* Елементи меню займають всю ширину */
     display: flex;
     justify-content: center; /* Центруємо текст всередині елемента */
     align-items: center; /* Центруємо текст по вертикалі */
   }
 
   button {
     width: 100%; /* Кнопки займають всю ширину */
     padding: 10px;
     background-color: #a3b18a; /* Колір фону кнопок */
     color: white; /* Колір тексту */
     border: none; /* Без рамки */
     font-size: 16px;
     text-align: center;
     cursor: pointer; /* Курсор при наведенні */
     transition: background-color 0.3s; /* Плавна зміна фону при наведенні */
     border-radius: 12px;
   }
 
   button:hover {
     background-color: #8c9e71; /* Колір фону при наведенні */
   }
 
   a {
     text-decoration: none; /* Прибирає підкреслення з посилання */
     color: inherit; /* Спадковий колір для тексту */
   }
   #logoutButton{
    width: 100%;
   }
   .addform{
    max-width: 90vw;
    margin-left: 5vw;
  }
  .addform input{
    max-width: 80vw;
  }
 }